<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

	<!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->

	<variable name="instance-tag" value="CommandReceiving" />

	<targets>
		<target name="console"
				xsi:type="ColoredConsole"
				layout="${date:format=HH\:mm\:ss} ${message} ${exception:format=Type,Message}" />

		<target name="file"
				xsi:type="File"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${level}|${logger}|${message}|${exception:format=Type,Message:maxInnerExceptionLevel=99}"
				fileName="${basedir}/Logs/${instance-tag}-info.log"
				concurrentWrites="false"
				archiveEvery="Day"
				archiveFileName="${basedir}/Logs/${instance-tag}-info-{#####}.log"
				archiveNumbering="Sequence"
				maxArchiveFiles="7" />

		<target name="errorfile"
				xsi:type="File"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${level}|${logger}|${message}|${exception:format=tostring"
				fileName="${basedir}/Logs/${instance-tag}-error.log"
				concurrentWrites="false"
				archiveEvery="Day"
		        archiveFileName="${basedir}/Logs/${instance-tag}-error-{#####}.log"
				archiveNumbering="Sequence"
		        maxArchiveFiles="30" />

		<target name="tracefile"
				xsi:type="File"
		        layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${level}|${logger}|${message}|${exception:format=Type,Message:maxInnerExceptionLevel=99}"
				fileName="${basedir}/Logs/${instance-tag}-trace.log"
				concurrentWrites="false"
				archiveEvery="Day"
		        archiveFileName="${basedir}/Logs/${instance-tag}-trace-{#####}.log"
				archiveNumbering="Sequence"
				maxArchiveFiles="1" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="console" />
		<logger name="*" minlevel="Info" writeTo="file" />
		<logger name="*" minlevel="Error" writeTo="errorfile" />
		<!--logger name="*" minlevel="Trace" writeTo="tracefile" /-->
	</rules>
</nlog>
